.contacts {
  width: 100%;

  margin: auto;
  padding: 15px;
  padding-bottom: 0;

  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: black;
  padding-left: 10px;
}
